<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <title>Prova</title>
</head>
<body>
    <% if (user) { %>
    <nav>
        <div class="dropdown">
            <button class="dropbtn">
                <span class="material-symbols-outlined">menu</span>Dashboard
            </button>
            <div class="dropdown-content">
                <a href="/">Home</a>
                <a href="/workouts">My Activities</a>
                <a href="/logout">Log Out</a>
            </div>
        </div>

        <a href="/workouts/new">
            <span class="material-symbols-outlined" id="addbtn">add_circle</span>
        </a>
    </nav>

    <% } else { %>
        <section id="logout">
            <h2>Prova</h2>
            <a href="/auth/google" class="button">
                <button>Log In</button>
            </a>
        </section>
    <% } %>