<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>Strava</title>
</head>
<body>
    <nav>
        <% if (user) { %>
            <a href="/" class="button">
                <button>Home</button>
            </a>

            <a href="/workouts" class="button">
                <button>My Workouts</button>
            </a>

            <a href="/workouts/new" class="button">
                <button>Add Workout</button>
            </a>

            <a href="/logout" class="button">
                <button>Log Out</button>
            </a>

        <% } else { %>
            <a href="/auth/google" class="button">
                <button>Log In</button>
            </a>
        <% } %>
    </nav>