body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a.button {
  text-decoration: none;
}

.time {
  width: 50px;
}

#comment {
  width: 200px;
  height: 50px;
}

.user {
  display: flex;
  justify-content: center;
  align-items: center;
}

.user img {
  border-radius: 50%;
  height: 40px;
}

.edit-delete {
  display: inline-flex;
  gap: 10px;
}