body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: rgb(246, 246, 249);
}

a {
  text-decoration: none;
}

.time {
  width: 50px;
}

#comment {
  width: 200px;
  height: 50px;
}

.user {
  display: flex;
  align-items: center;
}

.user img {
  border-radius: 50%;
  height: 40px;
  margin-right: 10px;
}

.edit-delete {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

button {
  background-color: rgb(252, 72, 0);
  color: white;
  border-radius: 5px;
  border: none;
  min-height: 30px;
  min-width: 120px;
}

button:hover {
  background-color: rgb(223, 65, 0);
  color: white;
  transition: 0.3s;
}

.dropbtn {
  background-color: rgb(252, 72, 0);
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.dropbtn:hover{
  background-color: rgb(223, 65, 0);
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

#addbtn {
  color: rgb(252, 72, 0);
  font-size: 48px;
}

#addbtn:hover {
  color: rgb(252, 72, 0);
  font-variation-settings:
  'FILL' 1
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#likebtn {
  background-color: lightgray;
  color: black;
  min-width: 30px;
  min-height: 30px;
  border: 1px solid lightgray;
}

#likebtn:hover {
  background-color: white;
  border: 1px solid lightgray;

}

#dislikebtn {
  background-color: rgb(252, 72, 0);
  color: white;
  min-width: 30px;
  min-height: 30px;
  border: 1px solid rgb(252, 72, 0);
}

#dislikebtn:hover {
  background-color: rgb(223, 65, 0);
  border: 1px solid rgb(223, 65, 0);
}

#editbtn, #deletebtn {
  display: flex;
  justify-content: center; 
  align-items: center;
  flex-direction: row;
} 

.link:hover {
  text-decoration: underline;
}

#logout {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 50vh;
}

th, td {
  padding-right: 20px;
  padding-left: 20px;
}

th {
  background-color: white;
  padding-bottom: 10px;
}

td {
  padding-bottom: 20px;
}

#activity-title {
  font-size: 18px;
  color: black;
  font-weight: bold;
}

#activity-title:hover {
  color: darkblue;
  text-decoration: underline;
}

.post {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  background-color: white;
  padding: 20px;
}

.workout-details {
  margin-left: 20px;
}

.time-distance-pace {
  display: flex;
  align-items: center;
}

.data-container {
  margin: 10px 10px 10px 0;
} 

.date {
  color: gray;
  margin-left: 48px;
}

.workout-data {
  font-size: 18px;
}

.workout-label {
  color: gray;
}

#comments-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

#like-comment {
  display: flex;
  justify-content: center;
  align-items: center;
}

#like {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-right: 20px;
}

#commentbtn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#delete-comment {
  background: none;
  border: none; 
  padding: 0; 
  margin: 0;
  cursor: pointer;
  color: rgb(255, 164, 128);
} 

#delete-comment:hover {
  color: rgb(252, 72, 0);
}

#workout-title {
  color: rgb(252, 72, 0);
}

#workout-title:hover {
  color: rgb(223, 65, 0);
  text-decoration: underline;
}